<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/bootstrap.min.css') }}">
</head>
<body>
    <div class="container mt-3">
        <div class="card text-white bg-primary mt-3" style="max-width: 25rem;">
            <h1>User Details</h1>
            <div class="card-body text-white bg-secondary mb-3" style="max-width: 25rem;">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <p> {{ user.email }}</p>
            </div>
        </div>
    </div>
</body>
</html>