<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend A Show</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/superhero.css') }}">
</head>
<body>
    <div class="container mt-3">
        <form action="/shows/create_new" method="POST">
            <h2>Recommend A New Show</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-warning">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" name="title" id="title">
            <label for="network" class="form-label">Network:</label>
                <input type="text" class="form-control" name="network" id="network">
            <label for="release_date">Release Date:</label>
                <input type="date" class="form-control" name="release_date" id="release_date">
            <label for="comments" class="form-label">Comments:</label>
            <textarea class="form-control" name="comments" id="comments" rows="3"></textarea>
            
            <input type="hidden" name="user_id" value="{{user.id}}">
            
            <input type="submit" class="btn btn-success mt-3" value="Add">
        </form>
        <div class="text-end">
            <a href="/shows/all" class="btn btn-info">BACK TO SHOWS</a>
            <a href="/users/logout" class="btn btn-danger">LOGOUT</a>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>