<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/superhero.css') }}">
</head>
<body>
    <div class="container mt-3">
        <div class="card bg-primary">
            <h1>{{ show.title }}</h1>
            <div class="text-start">
                <h5 class="mt-3">Recommended By: {{ show.user.first_name }}</h5>
            </div>
            <div class="card" style="width: 40rem;">
                <p>Network: {{ show.network }}</p>
                <p>Release Date:{{ show.release_date }}</p>
                <p>{{ show.user.first_name }}'s Comments:{{ show.comments }}</p>
            </div>
        </div>
        <div class="text-end">
            <a href="/shows/all" class="btn btn-info mt-3">Back To Tv Shows</a>
            <a href="/users/logout" class="btn btn-danger mt-3">Logout</a>
        </div>
    </div>
</body>
</html>